@media screen and(max-width:480px) 
{
    .surround
    {
        animation-duration: 2s;
    }
    .icon
    {
        animation-name:movX;
    }


}



@keyframes movX
{
    0%{
        transform: translateX(-3px);
    }
    100%
    {
        transform: translateX();
    }
}